{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Car Sales</title>

  <!-- favicon -->
  <link href="{% static "img/favicon.png" %}" rel=icon>

  <!-- web-fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- font-awesome -->
  <link href="{% static "fonts/font-awesome/font-awesome.min.css" %}" rel="stylesheet">
  <!-- Mobile Menu Style -->
  <link href="{% static "css/mobile-menu.css" %}" rel="stylesheet">

  <!-- Owl carousel -->
  <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet">
  <link href="{% static "css/owl.theme.default.min.css" %}" rel="stylesheet">
  <!-- Theme Style -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
  <div class="content-wrapper">
    <section id="header_section_wrapper" class="header_section_wrapper">
        <div class="container">
            <div class="header-section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="left_section">
                            <span class="date">
                                {% now "D" %}
                            </span>
                            <!-- Date -->
                            <span class="time">
                                {% now "jS F Y" %}
                            </span>
                            <!-- Time -->
                        </div>
                        <!-- Left Header Section -->
                    </div>
                    <div class="col-md-4">
                        <div class="logo">
                            <a href="/"><img src="{% static "img/sn.jpeg" %}"></a>
                        </div>
                        <!-- Logo Section -->
                    </div>
                    <div class="col-md-4">
                        <div class="right_section">
                            <ul class="nav navbar-nav">
                                {% if username %}
                                  <li><a href="/auth/logout/">Вийти ({{ username }})</a></li>
                                {% else %}
                                  <li><a href="/auth/login/">Ввійти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Right Header Section -->
                    </div>
                </div>
            </div>
            <!-- Header Section -->

            <div class="navigation-section">
                <nav class="navbar m-menu navbar-default">
                    <div class="container">
                        <ul class="nav navbar-nav main-nav">
                            <li class="active"><a href="/">Головна</a></li>
                        </ul>
                    </div>
                    <!-- .container -->
                </nav>
                <!-- .nav -->
            </div>
            <!-- .navigation-section -->

            {% block content %}{% endblock %}
            {% block login %}{% endblock %}

        </div>
        <!-- .container -->
    </section>
    <!-- header_section_wrapper -->



    <section id="footer_section" class="footer_section">
        <div class="footer_bottom_Section">
            <div class="container">
                <div class="row">
                    <div class="footer">
                        <div class="col-sm-12">
                            <p>&copy; Всі права захищені ;)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  <!-- #content-wrapper -->

  <!-- jquery Core-->
  <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>

  <!-- Bootstrap -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>

  <!-- Theme Menu -->
  <script src="{% static "js/mobile-menu.js" %}"></script>

  <!-- Owl carousel -->
  <script src="{% static "js/owl.carousel.min.js" %}"></script>

  <!-- Theme Script -->
  <script src="{% static "js/script.js" %}"></script>
  </body>

  </html>
