{% extends 'wrapper.html' %}
{% load static %}

{% block title %}Car Sales List{% endblock %}

{% block content %}
{% csrf_token %}
  <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Категорія</th>
        <th>Ціна</th>
      </tr>
    </thead>
    <tbody>
      {% for advert in adverts %}
        <tr>
          <td><a href="{% url 'advert_change' advert.pk %}">{{ advert.pk }}</a></td>
          <td>{{ advert.brand.name }}</td>
          <td>{{ advert.model.name }}</td>
          <td>
            {% if advert.category < 1990 %}
                До 1990 року випуску
            {% elif advert.category < 2000 %}
                Від 1990 до 2000 року випуску
            {% else %}
                {% if advert.category < 2010 %}
                    Від 2000 до 2010 року випуску
                {% else %}
                    Після 2010 року випуску
                {% endif %}
            {% endif %}
          </td>
          <td>{{ advert.price }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Немає оголошень в базі. <a href="{% url 'advert_add' %}">Додати перше оголошення</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">
    <h1>Bootstrap Table</h1>

    <p>A table with third party integration extension Filter control extension Data export pour exporter</p>

    <table id="table" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" class="table-responsive">
      <thead>
        <tr>
          <th data-field="prenom" data-filter-control="input" data-sortable="true">First Name</th>
          <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>
          <th data-field="examen" data-filter-control="select" data-sortable="true">Examination</th>
          <th data-field="note" data-sortable="true">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jitender</td>
          <td>01/09/2015</td>
          <td>Français</td>
          <td>12/20</td>
        </tr>
        <tr>
          <td>Jahid</td>
          <td>05/09/2015</td>
          <td>Philosophie</td>
          <td>8/20</td>
        </tr>
        <tr>
          <td>Valentin</td>
          <td>05/09/2015</td>
          <td>Philosophie</td>
          <td>4/20</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
